.cookie-banner {
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    z-index: 9999;
}
.cookie-banner.consent-tooltip {
    max-width: 22em;
}
.cookie-banner.consent-tooltip.bottom-left {
    bottom: 1em;
    left: 1em;
}
.cookie-banner.consent-tooltip.bottom-right {
    bottom: 1em;
    right: 1em;
}
.cookie-banner.consent-tooltip.top-left {
    top: 1em;
    left: 1em;
}
.cookie-banner.consent-tooltip.top-right {
    top: 1em;
    right: 1em;
}
.cookie-banner.consent-bar {
    width: 100vw;
}
.cookie-banner.consent-bar.bottom {
    left: 0;
    right: 0;
    bottom: 0;
}
.cookie-banner.consent-bar.top {
    left: 0;
    right: 0;
    top: 0;
}
.cookie-banner.consent-bar.pushdown-top {
    position: relative;
}
.accept-cookie {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}